body {
    display: flex;
    flex-direction: column;
}

a {
    font-family: sans-serif;
    /* text-decoration: none; */
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0);
    padding: 20px;
    /* margin-top: 70px; */
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.2);
}
.render-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 4%;
    /* width: 80%; */
}

img {
    min-width: 100px;
    max-width: 600px;
    object-fit: cover;
    /* padding: 4%; */
}

p {
    font-size: 1.6rem;
}