
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    /* --gutter: 30px; */
    --footer-height: 25px;
    
    font-family: sans-serif;
    /* background-color: var(--color2); */

    background-image: url('../assets/playroom.jpg');
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
    text-align: center;
}

.shelves {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
}
/* .shelves {
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.5)
} */

.toy {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 2px solid;
}

.toy-image {
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
}

a {
    color: black;
    text-decoration: none;
}