
body {  
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --footer-height: 25px;
    
    font-family: sans-serif;
    /* background-color: #F8B982; */
    background-color: #EDA66E;
    
    background-image: url('../assets/playroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
    text-align: center;
    margin-top: 100px;
}

.shelves {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

.toy {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 2px solid;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.45), inset 5px 5px 5px rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.toy:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.45), inset 2px 2px 5px rgba(0,0,0,0.9), inset -5px -5px 5px rgba(255, 255, 255, 0.9);  
    z-index: -1;
}

.toy-image {
    object-fit: cover;
    width: 250px;
    max-height: 250px;
}

a {
    color: black;
    text-decoration: none;
}